doctype html
html(lang="ru")
	head
		include head
		script
			include ../public/js/initadmin.js
	body
		div(class="popup__bg")
			div.container
				div.popup-new-cat
					.header
						h2 Новая Категория
					hr
					form(action="/newcat" method="post" enctype="multipart/form-data" id="createCat") 
						.control
							label
								span Название:
								input(type="text" name="name" required)
							label
								span Активный:
								input(type="checkbox" checked name="activ")
						hr
						input(type="submit" value="Создать" class="btn btn-primary" style="display: block")
					img(src="/img/close.svg" class="close-popup")
				div.popup-new
					.header
						h2 Новый продукт
					hr
					form(action="/newgoods" method="post" enctype="multipart/form-data" id="createGoods")
						.control
							label
								span Категория:
									select(id="new-category" name="category")
										each item in category
											option(value=item.id) #{item.name}
							label
								span Название:
								input(type="text" name="name" required)
						label
							span Описание:
							textarea(name="description" cols="60" rows="5" required)
						.control
							label
								span Цена:
								input(type="number" name="cost")
							label
								span Активный:
								input(type="checkbox" checked name="activ")
							label
								span Акция:
								input(type="checkbox" name="stock")
						label(style="display: block")
							div(id="previewNew")
							input(type="file" name="filedata" id="fileInputNew" style="display:none" onchange="showLoad(this)" accept=".jpg,.jpeg")
							div(class="btn btn-primary") Выбрать фото
						hr
						input(type="submit" value="Создать" class="btn btn-primary" style="display: block")
					img(src="/img/close.svg" class="close-popup")
				div(class="popup-good")
					img(class="popup-form-good img" src="" alt="")
					img(src="/img/close.svg" class="close-popup")
				div.popup-upload
					.header
						h2 Выберите фото
					hr
					form(action="/upload" method="post" enctype="multipart/form-data" id="uploadImg")
						label
							div(id="preview")
							input(type="file" name="filedata" id="fileInput" style="display:none" onchange="showLoad(this)" accept=".jpg,.jpeg")
							div(class="btn btn-primary") Выбрать файл
						input(type="submit" value="Отправить" class="btn btn-primary")
					img(src="/img/close.svg" class="close-popup")
		.container-admin
			h1(style="text-align: center") Панель администратора
			div(class="admin-nav-header")
				ul(class="nav nav-tabs" id="adminTab" role="tablist")
					li(class="nav-item" role="presentation")
						button(class="nav-link active" id="category-tab" data-bs-toggle="tab" data-bs-target="#category-tab-pane" type="button" role="tab" aria-controls="category-tab-pane" aria-selected="true") Категории
					li(class="nav-item" role="presentation")
						button(class="nav-link" id="goods-tab" data-bs-toggle="tab" data-bs-target="#goods-tab-pane" type="button" role="tab" aria-controls="goods-tab-pane" aria-selected="false") Продукты
					li(class="nav-item" role="presentation")
						button(class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user-tab-pane" type="button" role="tab" aria-controls="user-tab-pane" aria-selected="false") Пользователи
			div(class="tab-content")
				div(class="tab-pane fade show active" id="category-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0")
					div(class="control")
						div
							label(for="activ") Показывать не активные
							input(type="checkbox" name="activ" checked id="activCat")
						div
							span(class="btn btn-primary" id="new-cat") Создать
					table(class="table-category")
						thead
							tr
								th Название
								th Акт.
						tbody(id="listCats")
				div(class="tab-pane fade" id="goods-tab-pane" role="tabpanel" aria-labelledby="goods-tab" tabindex="0")
					div(class="control")
						div
							label(for="activ") Показывать не активные
							input(type="checkbox" name="activ" checked id="activ")
						div
							label(for="stock") Только в акции
							input(type="checkbox" name="stock" id="stock")
						div
							span(class="btn btn-primary" id="new-goods") Создать
					table(class="table-goods")
						thead
							tr
								th(style="width: 11.3%")
									select(id="cur-category")
										option(value="all") Все Категории
										each item in category
											option(value=item.id) #{item.name}
								th(style="width: 15.1%") Название
								th(style="width: 8.85%") Фото
								th(style="width: 51.1%") Описание
								th(style="width: 5.77%") Цена
								th(style="width: 3.94%") Акт.
								th(style="width: 3.94%") Акц.
						tbody(id="listGoods")
				div(class="tab-pane fade" id="user-tab-pane" role="tabpanel" aria-labelledby="register-tab" tabindex="0")
					div(class="control")
						div
							label(for="activ") Показывать не активные
							input(type="checkbox" name="activ" checked id="activUser")
					table(class="table-users")
						thead
							tr
								th Имя
								th Телефон
								th e-mail
								th Акт.
								th Адм.
								th Мен.
								th Адрес
						tbody(id="listUsers")
script(type='text/javascript').
	inintCart(!{JSON.stringify(goods)}, !{JSON.stringify(category)});
	fillGoodsOfCat();
script(type="module")
	include ../public/js/admin.js
